@font-face {
  font-family: 'mtwicomoon';
  src:  url('fonts/icomoon.eot?tq044c');
  src:  url('fonts/icomoon.eot?tq044c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tq044c') format('truetype'),
    url('fonts/icomoon.woff?tq044c') format('woff'),
    url('fonts/icomoon.svg?tq044c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

#menu-appearance .wp-menu-image:before
{
  font-family: 'mtwicomoon' !important;
  content: '\e900';
}